header {
    background-color: #00695c;
}

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 5.25rem;
}

.map-frame {
    border: 1px solid black;
    height: 100%;
}

#map {
    height: 100%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #004d40;
    color: #b2dfdb;
    text-align: center;
}